<mat-toolbar>
    <mat-icon id="trash">delete_outline</mat-icon>
    <span class="">Delete</span>
    <button  class="btn-dialog-close"  (click)="onClose()" id="close-icon" >
        <mat-icon>clear</mat-icon></button> 
  
   </mat-toolbar> 
<div>
    <div class="content-container">
     
      
       <span class="content-span full-width">
         Are you sure you want to delete this Record ?
        </span>
    </div>
    <button mat-flat-button id="no-button" (click)="onClose()">NO</button>
    <button mat-flat-button id="yes-button" (click)="onDelete()">YES</button>
</div>
