

<mat-list>
  <a mat-list-item routerLink="./home"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >

    <span class="nav-caption">Home</span>
</a>
<a mat-list-item routerLink="./users"  routerLinkActive="active"  >

  <span class="nav-caption">Users</span>
</a>
<a mat-list-item routerLink="./logs"  routerLinkActive="active" >

  <span class="nav-caption">Logs</span>
</a>

<!-- <a mat-list-item   (click)="showSubmenu2 = !showSubmenu2;" class="parent" >

  <span class=" full-width  nav-caption" *ngIf="isExpanded2 || isShowing2">Fiber</span>

  <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu2}" *ngIf="isExpanded2 || isShowing2">expand_more
  </mat-icon>
</a>
<div class="submenu" [ngClass]="{'expanded' : showSubmenu2}" *ngIf="isShowing2 || isExpanded2">


  <a mat-list-item routerLink="./fiber"  routerLinkActive="active">
      <mat-icon class="dot">brightness_1</mat-icon>
      <span class="nav-caption">Summary</span>
  </a>
  
 





</div> -->







</mat-list>


